body {
  margin: 0;
}

boday * {
  margin: 0;
}

.calc-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 202, 202);
  padding: 40px;
  width: 600px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  border: 5px solid rgb(37, 50, 95);
  border-radius: 6px 6px;
}

.calc-display {
  width: 400px;
  height: 60px;
  background-color: rgb(241, 240, 240);
  font-size: 40px;
  text-align: right;
  padding: 60px 10px 0px 10px;
}

.calc-input {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calc-key-pad {
  margin-top: 20px;
  width: 340px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5px;
}  

.calc-operators {
  margin-top: 20px;
  display: flex;
  width: 80px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

}

.button {
  color: white;
  flex: 0 1 29%;
  background-color: rgb(38, 42, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.button:hover {
  background-color: rgb(51, 61, 99);
  cursor: pointer;
}

.button:before {
  display: block;
  content: '';
  padding-top: 100%;
}

#clear {
  background-color: rgb(104, 33, 20)
}

#clear:hover {
  background-color: rgb(134, 50, 35);
  cursor: pointer;
}